/* Estilos personalizados... */
body {
	background-color: #333333;
	background-image: url('https://s3-us-west-1.amazonaws.com/tgaspa/tga_landing/image_base/img_fondo.png');
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	background-size: 100%;
}


/* - Cabecera - */
header { padding: 20px; margin: 0px 0px 0px 0px !important; width: 100%;}
header h1 {
	background-image: url('https://s3-us-west-1.amazonaws.com/tgaspa/tga_landing/image_base/logotipo_TGA.svg');
	background-repeat: no-repeat;
	display:inline-block;
	margin: 10px 0px 0px 20px;
}
header h1 span { text-indent: -999999px; display: block; width: 200px; height: 92px;}


/* - Título - */
section.info1 { width: 100%;}
section.info1 h2 {
	font-family: AvenirNextDemiBold, Arial, Helvetica, sans-serif;
	font-size: 62px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 40px;
}


/* - Textos informativos - */
section.info2 {
	color: #FFFFFF;
	margin: 0px auto 30px auto;
}
section.info2 div.col-md-4 { border-right: 1px solid #999999;}
section.info2 div.col-md-4:last-of-type { border-right: none !important;}
section.info2 div.col-md-4 > span,
section.info2 div.col-md-4 > p {
	font-family: AvenirNextDemiBold, Arial, Helvetica, sans-serif;
	display: block;
	float: left;
}

section.info2 div.col-md-4 > p { line-height: 1.3em;}
section.info2 span.plus_sign {
	background-image: url('https://s3-us-west-1.amazonaws.com/tgaspa/tga_landing/image_base/icono_mas.svg');
	background-repeat: no-repeat;
	text-indent: -99999px;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-right: 5px;
}
section.info2 span.big_number {
	font-family: NexaBold, Arial, Helvetica, sans-serif !important;
	font-size: 62px;
	margin: 0px 8px 0px 0px;
	padding: 0px;
	line-height: 1.0em;
}
section.info2 .col-md-4:nth-of-type(1) > p { width: 160px;}
section.info2 .col-md-4:nth-of-type(2) > p { width: 180px;}
section.info2 .col-md-4:nth-of-type(3) > p { width: 190px;}
section.info2 span.cyan_text { color: #00ebda;}


/* - Slider empresas - */
section.slider { /*width: 1100px;*/ margin: 0px auto 20px auto;}
section.slider > div#carousel_dsk,
section.slider > div#carousel_mov { display: none;}
section.slider > div.carousel > .carousel-inner > .carousel-item > .row { padding-left: 5%;}
section.slider > div.carousel > .carousel-inner > .carousel-item > .row > div.logo-bgcolor { background-color: #FFFFFF;}
section.slider > div.carousel > .carousel-inner > .carousel-item > .row > div.logo-container {
	display: block;
	float: left;
	margin: 0px 6px 6px 0px;
}
section.slider > div#carousel_dsk > .carousel-inner > .carousel-item > .row > div.logo-container { width: 13%;}
section.slider > div#carousel_mov > .carousel-inner > .carousel-item > .row > div.logo-container { width: 31%;}
section.slider > div.carousel > .carousel-inner > .carousel-item > .row > div.logo-container:last-of-type { margin-right: 0px !important;}
section.slider > div.carousel > .carousel-inner > .carousel-item > .row > div.logo-container > img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%); 
}
section.slider > div.carousel > .carousel-inner > .carousel-item > .row > div.logo-container > img:hover {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%); 
}
section.slider > div#carousel_dsk > .carousel-indicators { top:103%;}
section.slider > div#carousel_mov > .carousel-indicators { top:103%;}
section.slider > div.carousel > .carousel-indicators > li {
	border-radius: 12px;
	width: 12px;
	height: 12px;
	background-color: #FFFFFF;
	margin-right: 5px;
}
section.slider > div.carousel > ul.carousel-indicators > .active { background-color: #888888 !important;}


/* - Texto inferior - */
section.info3 { padding: 20px; margin: 0px auto 20px auto;}
section.info3 p {
	font-family: AvenirNextDemiBold, Arial, Helvetica, sans-serif;
	font-size: 30px;
	text-align: center;
	line-height: 1.2em;
	color: #FFFFFF;
}


/* - Pie de página - */
footer {
	font-family: OpenSansRegular, Arial, Helvetica, sans-serif;
	font-weight: lighter;
	background-color: #333333;
	text-align: center;
	font-size: 16px;
	padding: 20px;
	height: 170px;
}
footer p { color: #FFFFFF;	margin-bottom: 15px}
footer p > a.a-mailto { font-family: OpenSansBold, Arial, Helvetica, sans-serif;}
footer p > a { color: #FFFFFF;}
footer p > a:hover { color: #CCCCCC; text-decoration: none;}
footer > div > div:nth-of-type(3){ margin-bottom: 20px;}
footer > div > div:nth-of-type(3) > a.a-linkedin > img { border:0px none !important; width: 28px; height: 28px; margin-bottom: 20px;}
